<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta content="" name="description" />
    <meta content="webthemez" name="author" />
    <title>BRILLIANT Free Bootstrap Admin Template</title>
    <!-- Bootstrap Styles-->
    <link href="/css/bootstrap.css" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="/css/font-awesome.css" rel="stylesheet" />
    <!-- Morris Chart Styles-->
    <link href="/js/morris/morris-0.4.3.min.css" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href="/css/custom-styles.css" rel="stylesheet" />
    <link href="/css/select2.min.css" rel="stylesheet" >
    <!-- Google Fonts-->
    <!--<link href='http://fonts.useso.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />-->
    <link rel="stylesheet" href="/js/Lightweight-Chart/cssCharts.css">
    <link rel="stylesheet" type="text/css" href="/css/wangEditor.min.css">
    <link href="/css/jquery.pagination.css" rel="stylesheet">
    <script type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>
</head>
<body>
  <%- include('topbar') %>
  <%- include('navigator') %>
