<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">

            <li>
                <a class="active-menu" href="/admin"><i class="fa fa-dashboard"></i> 管理总揽</a>
            </li>
            <li>
                <a href="/admin/personInfo"><i class="fa fa-desktop"></i> 个人信息管理</a>
            </li>
            <li id="article" class="ok">
                <a href="#"><i class="fa fa-sitemap"></i> 文章管理<span class="fa arrow"></span></a>
                <ul id="secondMenu" class="nav nav-second-level">
                    <li>
                        <a href="/admin/addInfo">添加文章</a>
                    </li>
                    <li>
                        <a href="morris-chart.html">已发布的文章</a>
                    </li>
                    <li>
                        <a href="morris-chart.html">待发布的文章</a>
                    </li>
                    <li>
                        <a href="/admin/articles">文章列表管理</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="ui-elements.html"><i class="fa fa-desktop"></i>网站配置管理</a>
            </li>
            <li>
                <a href="/picture"><i class="fa fa-desktop"></i>网站图片管理</a>
            </li>
            <li>
                <a href="/admin/recmand"><i class="fa fa-qrcode"></i>添加推荐文章链接</a>
            </li>
            <li>
                <a href="tab-panel.html"><i class="fa fa-qrcode"></i> 推荐文章列表管理</a>
            </li>
            <li>
                <a href="/admin/directory"><i class="fa fa-table"></i>网站导航管理</a>
            </li>
            <li>
                <a href="/admin/dirList"><i class="fa fa-fw fa-file"></i>网站导航列表管理</a>
            </li>
        </ul>
    </div>
</nav>
<!-- /. NAV SIDE  -->
</div>
<script type="text/javascript">
  $(function () {
    $("#article").addClass('ok');
    $("#article").removeClass('active');
    $("#secondMenu").slideUp();
  });
</script>
<script type="text/javascript">
    $("#article").click(function() {
        if(this.getAttribute('class')=='ok'){
          $("#article").addClass('active');
          $("#article").removeClass('ok');
          $("#secondMenu").slideDown();
        }else {
          $("#article").addClass('ok');
          $("#article").removeClass('active');
          $("#secondMenu").slideUp();
        }
    });
</script>
