</ul>
</div>
<div class="footer-bottom">
  <p style="margin: 0 auto;text-align: center">Copyright 2016 Design by <a href="http://www.wenpy.cn">Dean</a></p>
</div>
<!-- jQuery仿腾讯回顶部和建议 代码开始 -->
<div id="tbox"> <a id="togbook" href="/e/tool/gbook/?bid=1"></a> <a id="gotop" href="javascript:void(0)"></a> </div>
<!-- 代码结束 -->
<script src="js/jquery.metisMenu.js"></script>
  </body>
</html>
