<%- include('admin/header') %>
<div id="page-wrapper">
    <div class="header">
        <h1 class="page-header">
            网站推荐文章管理 <small>.</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Empty</a></li>
            <li class="active">Data</li>
        </ol>
        <% if (success) { %>
            <div class="alert alert-success" role="alert"><%= success %></div>
        <% } %>

        <% if (error) { %>
          <div class="alert alert-success" role="alert"><%= error %></div>
        <% } %>
    </div>
    <form method="post" id="form2" action="/admin/recmand">
        <div style="width: 95%;height: 30px;margin: 20px auto;text-align: center;" class="input-group input-group-lg">
              <input type="text" name="title" id="articleTitle" class="form-control" placeholder="文章标题.....">
        </div>
        <div class="form-group input-group-lg">
              <input type="text" name="link" id="articleContent" style="margin:0 auto;width:95%;" class="form-control" placeholder="文章链接http://....."/>
        </div>
        <div class="checkbox">
           <label style="margin:2px 28px">
             <input name="isTop" type="checkbox"> 该篇文章是否置顶
           </label>
        </div>
        <div style="margin-left:28px;">
          <button type="submit" class="btn btn-default btn-lg">发布</button>
        </div>
    </form>
    <div id="page-inner">
        <footer>
            <p>Copyright &copy; 2016.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
        </footer>
    </div>
    <!-- /. PAGE INNER  -->
</div>
<!-- /. PAGE WRAPPER  -->
<%- include('admin/footer') %>
